body{
    background-color: #edf5d1;
    padding: 0px;
    margin: 0px;
    color: rgba(0,0,0,0.87);
    font-family: 'Roboto', sans-serif;
}

.app{
    text-align: center;
    background-color: white;
    height: auto;
    min-height: 100vh;
    width : 40%;
    margin: auto;
    padding : 30px;
    box-shadow: 2px 2px 20px #ececec;
}

.app-title{
    margin: 0;
    margin-bottom: 30px;
}

.add-todo{
    margin: 30px 0px;
}

.task-input{
    height : 45px;
    width : 300px;
    border : 1px solid #e4f2f7;
    border-radius: 6px;
    padding : 2px 10px;
    margin-right : 10px;
}

.task-input:focus {
    box-shadow: 0 0 8px rgba(142,228,175,0.6);
    outline: none;
}

.task-button{
    height : 49px;
    width : 100px;
    border : none;
    border-radius: 6px;
    background-color: #05386b;
    color:white;
}

.task-button:hover{
    cursor: pointer;
}

.tasks-list{
    list-style: none;
    margin: auto;
    padding : 0px;
}

.task-item{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    padding : 8px 40px;
}

.remove-task-button{
    background-color: #ac3b61;
    height: 32px;
    color: white;
    border-radius: 4px;
    width: 70px;
    border:none;
}

.remove-task-button:hover{
    cursor: pointer;
}